<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoPro_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABCC12A21DD351E900C5DAD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABCC12BB1DD351EB00C5DAD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABCC12C61DD351EB00C5DAD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
